.yu-icon {
    width: 1.4em;
    height: 1.4em;
    display: inline-block;
    fill: currentColor;
    
  }
 .IconExample .iconFish{
    margin-right: 30px;
    font-size: 30px;
  }
  .IconExample .iconQq{
    margin-right: 30px;
    font-size: 30px;
  }


