[class^=yu-]{
    box-sizing: border-box;
    font-size: 14px;
}
button{
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height:32px;
    box-sizing: border-box;
    margin: 0 4px;
    border-radius: 5px;
    padding: 6px;
    border:none;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

}