.headerAndFooter{
    height: 40px;
    background-color: #99a9bf;
    margin: 4px 0;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.layoutContent{
    background-color: #d3dce6;
    margin: 4px 0;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.aside{
    background-color: #e5e9f2;
    width: 200px;
    margin: 4px 0;
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.aside + .layoutContent ,.layoutContent + .aside, .aside + .yu-layout {
    margin-left: 8px;
}
.exampleDetail{
    margin-bottom: 30px;

}
.exampleShow{
    height:350px;
    width:500px
}